<!DOCTYPE html>

    <head>
        <% include head %>
        <title>Log In</title>

    </head>
    <body>
   		<% include navbar %>
		   <script type="text/javascript">
		$(document).ready(() => {
				// initiate selection dropdown
				$('select').material_select();

				// Hide dog/cat breeds to only show when a type is selected
				$('.dog-breeds, .cat-breeds').hide();
				// show dog/cat breeds depending on selection
				$('#breeds-select').change(function () {
					var inputValue = $(this).val();
					// console.log(inputValue)
					if (inputValue == "dog") {
						$('.dog-breeds').show();
						$('.cat-breeds').hide();
					} else if (inputValue == "cat") {
						$('.cat-breeds').show();
						$('.dog-breeds').hide();
					}
				});
			});
	</script>
     <main>
		<div class="container">
			<% include searchBar %> 
			<div class="row">
				<div class="col s12">
					<h3>Featured</h3>
				</div>
			</div>
			<div class="row">
				<div class="col s12">
					<h4 class="header"><%=name%></h4>
					<div class="card horizontal card-page">
						<div class="card-image">
							<img src="<%=photo%>" width="100%" height="300px">
						</div>
						<div class="card-stacked">
							<div class="card-content card-description">
								<p><%=description%></p>
							</div>
							<div class="card-action">
								<div class="col s6">
									Age: <%=age%>
								</div>
								<div class="right-align">
									<% if (locals.firstNameTest !== undefined){ %>
									<a href="/singles/<%=id%>" class="btn-floating btn-large red"><i class="material-icons">add</i></a>
									<% }else{ %>
									<a href="#" class="btn-floating btn-large red" onclick="Materialize.toast('Must Login To View Detail', 4000)"><i class="material-icons">add</i></a>
									<% } %>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="divider"></div>
		</div>
	</main>
    <% include footer %>

    </body>
</html>